@use "mixins" as mix;

$hamburger-color: #333;
$hamburger-size: 30px;
$hamburger-bar-height: 4px;

.hamburger-menu {
  position: relative;
  .hamburger-icon {
    position: relative;
    width: $hamburger-size;
    height: $hamburger-size;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    .bar {
      width: 100%;
      height: $hamburger-bar-height;
      background-color: $hamburger-color;
      transition: 0.3s;

      &:nth-child(2) {
        margin: 4px 0;
      }
    }
  }

  .links {
    position: fixed;
    top: 55px;
    right: 0;
    list-style: none;
    background-color: white;
    display: none;
    z-index: 1000;
    border-radius: 20px;
    padding: 10px;
    .li-item {
      a {
        text-decoration: none;
      }
      a:visited {
        text-decoration: none;
        color: #242424;
      }
      a:focus {
        text-decoration: none;
        color: #242424;
      }
      a:active {
        text-decoration: none;
        color: #242424;
      }
    }
  }

  &.open {
    .bar:nth-child(1) {
      transform: rotate(-45deg) translate(-13px, 6px);
    }

    .bar:nth-child(2) {
      opacity: 0;
    }

    .bar:nth-child(3) {
      transform: rotate(45deg) translate(-13px, -6px);
    }

    .links {
      display: block;
    }
  }

  @include mix.desktop {
    .links {
      display: block;
    }

    .hamburger-icon {
      display: none;
    }
  }

  @include mix.mobile {
    display: block;

    .links {
      display: none;
    }
  }
}
