@use "mixins" as mix;
@use "variables" as var;

.front-picture-wrapper {
  background: url("https://res.cloudinary.com/dwzwqnpmn/image/upload/v1704465350/recipe-images/kuq61mjzq7uwggdwjlay.jpg");
  background-size: cover;

  background-repeat: no-repeat;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mix.desktop {
    background: url("https://res.cloudinary.com/dwzwqnpmn/image/upload/v1704465346/recipe-images/p73vxepd5gbgkfbnwfvv.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
  }

  .title-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 60%;

    border-radius: 15px;
    background-color: var.$primary-color;

    @include mix.desktop {
      width: 25%;
      padding: 50px;
    }
    .title-wrapper-text {
      // font-family: "Alfa Slab One", serif;
      font-weight: bolder;
      // color: white;
      // -webkit-text-stroke: 1px black;
      font-family: "Rethink Sans", sans-serif;
      font-size: 1.2rem;
      color: #242424;
      @include mix.desktop {
        font-size: 1.5rem;

        // font-size: 1.7rem;
        // font-family: "Lilita One", sans-serif;
        // font-family: "Alfa Slab One", serif;
        // color: white;
        // -webkit-text-stroke: 1px black;
      }
    }
  }
}

.front-recipe-wrapper {
  height: 30vh;
  // margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // gap: 10px;
  margin-bottom: 20px;

  @include mix.desktop {
    height: 50vh;
    flex-direction: row;
  }
  .front-recipe-week {
    background-color: var.$secondary-color;
    display: flex;
    border-radius: 5px;
    position: relative;
    margin-left: 190px;
    flex-wrap: wrap;

    width: 70%;
    padding: 100px;
    right: 50px;
    @include mix.desktop {
      width: 30%;
      height: 300px;
      padding: 120px;
      position: none;
      margin-left: 0;
      left: 200px;
      bottom: 4px;
    }

    .front-recipe-title {
      margin-top: -85px;
      position: absolute;
      padding: 5px;
      padding-left: 20px;
      padding-right: 20px;
      right: 47px;
      font-family: "Rethink Sans", sans-serif;
      font-size: 1.2rem;
      border: dashed 3px var.$box-color;

      @include mix.desktop {
        position: none;
        right: 94px;
        font-size: 1.7rem;
        font-family: "Lilita One", sans-serif;
        font-family: "Alfa Slab One", serif;
        color: white;
        -webkit-text-stroke: 1px black;
      }
    }
    .front-recipe-text-wrapper {
      position: absolute;
      display: wrap;
      top: 55px;
      left: 115px;
      width: 55%;
      text-align: center;
      padding: 10px;

      @include mix.desktop {
        position: none;
        width: 60%;
        top: 110px;
        left: 100px;
      }

      .front-recipe-text {
        font-size: 0.7rem;
        @include mix.desktop {
          font-size: 1rem;
        }
      }
    }
    .front-recipe-button-wrapper {
      position: absolute;
      left: 152px;
      top: 150px;
      @include mix.desktop {
        top: 200px;
        left: 180px;
      }
      .front-recipe-button {
        padding: 10px;
        font-size: 0.7rem;
        @include mix.desktop {
          font-size: 1rem;
        }
      }
    }
  }

  .front-recipe-container {
    position: absolute;
    margin-top: 150px;
    margin-right: 170px;

    @include mix.desktop {
      // margin-top: 180px;
      position: none;
      margin-right: 500px;
      margin-top: 0;
    }

    .front-recipe-img {
      height: 200px;
      width: 210px;
      border-radius: 5px;
      @include mix.desktop {
        height: 300px;
        width: 350px;
      }
    }
  }
}
