@use "mixins" as mix;
@use "variables" as var;

.oneRecipe-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
  @include mix.desktop {
    margin-left: 100px;
    margin-right: 100px;
  }

  .oneRecipe-wrapper-title-baking-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
    @include mix.desktop {
    }

    .oneRecipe-title {
      font-family: "Rethink Sans", sans-serif;
      font-size: 2.2rem;
    }

    .oneRecipe-wrapper-schedule {
      display: flex;
      flex-direction: row;
      gap: 10px;
      @include mix.desktop {
      }
    }
  }

  .desktop-container-img-desc-ing {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include mix.desktop {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    .oneRecipe-wrapper-img {
      display: flex;
      position: relative;
      width: 100%;
      @include mix.desktop {
        width: 50%;
        height: 70vh;
      }

      .oneRecipe-img {
        border-radius: 5px;
        height: auto;
        display: block;
        width: 100%;
      }
      .oneRecipe-icon-wrapper {
        background-color: var.$heart-background;
        padding: 15px;
        width: 100px;
        display: flex;
        flex-direction: row;
        border-radius: 50px;
        gap: 5px;
        cursor: pointer;
        position: absolute;
        bottom: 10px;
        right: 10px;

        .heart-icon {
          font-size: 20px;

          &.liked {
            color: var.$heart-color;
          }
        }
      }
    }
    .oneRecipe-wrapper-ing-desc {
      background-color: var.$secondary-color;
      display: flex;
      flex-direction: column;
      gap: 50px;
      padding: 30px;
      border-radius: 5px;

      @include mix.desktop {
        flex-direction: row;
        width: 50%;
      }

      .oneRecipe-wrapper-allIngredients {
        @include mix.desktop {
        }
        .oneRecipe-ingredient-title {
          font-weight: bold;
        }
        .showIngredients {
          list-style: none;
          white-space: nowrap;
        }
      }
      .oneRecipe-wrapper-description {
        .oneRecipe-desc-title {
          font-weight: bold;
        }
        .showDescription {
          list-style: none;
        }
      }
    }
  }
}
