@use "mixins" as mix;
@use "variables" as var;

.searchRecipe {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .search-recipe-title {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    border: dashed 15px var.$secondary-color;
    padding: 20px;
    .search-text-title {
      font-family: "Rethink Sans", sans-serif;
    }
    .search-icon {
      font-size: 25px;
    }
  }

  .search-recipe-input {
    margin-top: 12px;
    justify-content: center;
    align-items: center;

    .search-input {
      padding: 10px;
      font-family: "Rethink Sans", sans-serif;
      border-radius: 5px;
      @include mix.desktop {
        padding: 20px;
        font-size: 1rem;
      }
    }
  }

  .searchRecipe-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    @include mix.desktop {
      flex-wrap: wrap;
      flex-direction: row;
    }

    .searchRecipe-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 10px;
      width: 48%;
      background-color: var.$secondary-color;

      @include mix.desktop {
        width: 300px;
      }

      .searchRecipe-wrapper-img {
        display: flex;
        position: relative;
        width: 100%;

        .searchRecipe-img {
          width: 100%;
          height: auto;
          display: block;
        }

        .icon-wrapper-searchRecipe {
          position: absolute;
          background-color: white;
          top: 0;
          right: 0;
          margin: 10px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;
          .material-symbols-outlined {
            cursor: pointer;

            &.liked {
              color: var.$heart-color;
            }
          }
        }
      }

      .searchRecipe-wrapper-nameWrapper {
        display: flex;
        flex-direction: column;

        .searchRecipe-name {
          font-family: "Rethink Sans", sans-serif;
          font-size: larger;
        }

        .searchRecipe-bakingTime {
          font-family: "Rethink Sans", sans-serif;
          font-style: italic;
        }
      }
    }
  }
}
