@use "mixins" as mix;
@use "variables" as var;

.allRecipe-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 40px;
  @include mix.desktop {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .allRecipe-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
    width: 48%;
    background-color: var.$box-color;

    @include mix.desktop {
      width: 20%;
    }

    .allRecipe-wrapper-img {
      display: flex;
      position: relative;
      width: 100%;

      .allRecipe-img {
        width: 100%;
        height: auto;
        display: block;
      }

      .icon-wrapper-allRecipes {
        position: absolute;
        background-color: white;
        top: 0;
        right: 0;
        margin: 10px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        .material-symbols-outlined {
          cursor: pointer;

          &.liked {
            color: var.$heart-color;
          }
        }
      }
    }

    .allRecipe-wrapper-nameWrapper {
      display: flex;
      flex-direction: column;

      .allRecipe-name {
        font-family: "Rethink Sans", sans-serif;
        font-size: larger;
      }

      .allRecipe-bakingTime {
        font-family: "Rethink Sans", sans-serif;
        font-style: italic;
      }
    }
  }
}

.sort-button-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  .sort-button-text {
    background-color: var.$secondary-color;
    border: var.$secondary-color;
    :hover {
      background-color: var.$box-color;
    }
  }
}

.sort-button-options-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .sort-buttons-options {
    background-color: var.$secondary-color;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    border-radius: 8px;
    @include mix.desktop {
      padding: 50px;
    }
    .sort-button-options-a {
      background-color: var.$box-color;
      @include mix.desktop {
        width: 200px;
        padding: 30px;
      }
    }

    .sort-button-options-b {
      background-color: var.$box-color;
      @include mix.desktop {
        width: 200px;
        padding: 30px;
      }
    }
  }
}
