@use "mixins" as mix;

.allRecipe-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;

  .allRecipe-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgray;
    padding: 60px;
    border-radius: 20px;
    width: 50%;
    box-shadow: 1px 1px 2px 0 lightgray;

    .allRecipe-wrapper-img {
      display: flex;

      .allRecipe-img {
      }
    }

    .allRecipe-wrapper-nameWrapper {
      display: flex;
      flex-direction: column;
      justify-content: last baseline;
      gap: 10px;
      .allRecipe-name {
      }

      .allRecipe-bakingTime {
      }

      .icon-wrapper-allRecipes {
        .material-symbols-outlined {
          &.liked {
            color: red;
          }
        }
      }
    }
  }
}
