@use "mixins" as mix;
@use "variables" as var;

.likedRecipe-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  @include mix.desktop {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .likedRecipe-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
    width: 48%;
    background-color: var.$secondary-color;

    @include mix.desktop {
      width: 20%;
    }

    .likedRecipe-wrapper-img {
      display: flex;
      position: relative;
      width: 100%;

      .likedRecipe-img {
        width: 100%;
        height: auto;
        display: block;
      }

      .icon-wrapper-likedRecipe {
        position: absolute;
        background-color: white;
        top: 0;
        right: 0;
        margin: 10px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        .material-symbols-outlined {
          cursor: pointer;
          color: black;
        }
      }
    }
  }

  .likedRecipe-wrapper-nameWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .likedRecipe-name {
      font-family: "Rethink Sans", sans-serif;
      font-size: larger;
    }

    .likedRecipe-bakingTime {
      font-family: "Rethink Sans", sans-serif;
      font-style: italic;
    }
  }
}
