@use "./scss/hamburgerMenu.scss";
@use "./scss/footer.scss";
@use "./scss/header.scss";
@use "./scss//showAllRecipes.scss";
@use "./scss/home.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
