@use "./scss/hamburgerMenu.scss";
@use "./scss/footer.scss";
@use "./scss/header.scss";
@use "./scss//showAllRecipes.scss";
@use "./scss//showOneRecipe.scss";
@use "./scss/home.scss";
@use "./scss/showLikedRecipes.scss";
@use "./scss//showSearchRecipe.scss";
@use "./scss//formRecipe.scss";
@use "./scss/thankYouForNewRecipe.scss";
@use "./scss/mixins" as mix;
@use "./scss/variables" as var;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
